#inst_main{
    width: 100%;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-align-items: center;
}
#instimg{
    background-image: url(img/inst_img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1100px;
    height: 220px;
    display: flex;
    display: -webkit-flex;
}

#insttitl {
    font-family: 'raleway', sans-serif;
    font-size: 50px;
    box-sizing: border-box;
    padding: 30px;
    padding-bottom: 40px;
    display:flex;
    align-items: flex-end;
    color: white;
    text-shadow: 0px 0px 20px black;
    display: -webkit-flex;
    -webkit-align-items: flex-end;
}
#inst_cont{
    width: 1100px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 50px;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-align-items: center;
}
.inst_titls {
    font-family: 'raleway', sans-serif;
    width: 800px;
    font-size: 50px;
    margin-top: 60px;
    margin-bottom: 50px;
    display: flex;
    display: -webkit-flex;
}
.inst_citation {
    font-family: 'raleway', sans-serif;
    font-weight: 700;
    width: 800px;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
    display: flex;
    display: -webkit-flex;
}
#inst_bp, #inst_pf, #inst_sf{
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 800px;
    height: 600px;
    margin-bottom: 40px;
    display: flex;
    display: -webkit-flex;
}
#inst_bp{
   background-image: url(img/inst_bp.jpg); 
}
#inst_pf{
    background-image:url(img/inst_pfimg.jpg);
}
#inst_sf{
    background-image: url(img/inst_sf2.jpg);
}
.inst_subtitl{
    margin-bottom: 40px;
    width: 800px;
    font-weight: 700;
    font-size: 30px;
    display: flex;
    display: -webkit-flex;
}
.inst_gall{
    width: 800px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    display: -webkit-flex;
    -webkit-flex-direction: row;
}
#inst_pf1,#inst_pf2,#inst_pf3,#inst_pf4,#inst_pf5,#inst_pf6,#inst_sf1,#inst_sf2,#inst_sf3,#inst_sf4,#inst_sf5,#inst_sf6,#inst_sf7,#inst_sf8{
    height: 400px;
    min-height: 400px;
    width: 600px;
    min-width: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 40px;
    display: flex;
    display: -webkit-flex;
}
#inst_pf1{
    background-image: url(img/inst_pf1.jpg);
}
#inst_pf2{
    background-image: url(img/inst_pf2.jpg);
}
#inst_pf3{
    background-image: url(img/inst_pf3.jpg);
}
#inst_pf4{
    background-image: url(img/inst_pf4.jpg);
}
#inst_pf5{
    background-image: url(img/inst_pf5.jpg);
}
#inst_pf6{
    background-image: url(img/inst_pf6.jpg);
}
#inst_sf1{
    background-image: url(img/inst_sf1.jpg);
}
#inst_sf2{
    background-image: url(img/inst_sf3.jpg);
}
#inst_sf3{
    background-image: url(img/inst_sf4.jpg);
}
#inst_sf4{
    background-image: url(img/inst_sf5.jpg);
}
#inst_sf5{
    background-image: url(img/inst_sf6.jpg);
}
#inst_sf6{
    background-image: url(img/inst_sf7.jpg);
}
#inst_sf7{
    background-image: url(img/inst_sf8.jpg);
}
#inst_sf8{
    background-image: url(img/inst_sf9.jpg);
}
.inst_txt {
    width: 800px;
    font-size: 20px;
    margin-bottom: 30px;
    display: flex;
    display: -webkit-flex;
}
@media screen and (max-width: 1100px){
    ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
    #instimg{
    width: 100%;
}
    #inst_cont{
        width: 100%;
    }
}
@media screen and (max-width:850px){
    #instimg{
    height: 180px;
}
    #insttitl {
    font-size: 40px;
    padding: 20px;
    padding-bottom: 30px;
}
   .inst_titls {
    width: 100%;
    font-size: 40px;
}
    .inst_subtitl{
    width:100%;
    font-size: 26px;
}
.inst_citation {
    width: 100%;
}

.inst_txt {
    width: 100%;
}
    .inst_gall{
    width: 100%;
}
 #inst_bp, #inst_pf, #inst_sf{
     width: 100%;
    height: 500px;
}
    #inst_pf1,#inst_pf2,#inst_pf3,#inst_pf4,#inst_pf5,#inst_pf6,#inst_sf1,#inst_sf2,#inst_sf3,#inst_sf4,#inst_sf5,#inst_sf6,#inst_sf7,#inst_sf8{
    height: 300px;
    min-height: 300px;
    width: 500px;
    min-width: 500px;
}
}
@media screen and (max-width:660px){
   #inst_main{
        margin-top: 40px;
    }
    #inst_cont{
    padding: 30px;
}
.inst_titls {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 40px;
}
    .inst_subtitl{
    font-size: 20px;
}
.inst_citation {
    font-size: 16px;
}
.inst_txt {
    font-size: 16px;
    line-height: 20px;
}
    #inst_bp, #inst_pf, #inst_sf{
    height: 260px;
}
    #inst_pf1,#inst_pf2,#inst_pf3,#inst_pf4,#inst_pf5,#inst_pf6,#inst_sf1,#inst_sf2,#inst_sf3,#inst_sf4,#inst_sf5,#inst_sf6,#inst_sf7,#inst_sf8{
    height: 240px;
    min-height: 240px;
    width: 300px;
    min-width: 300px;
        margin-right: 20px;
}
}
@media screen and (max-width:600px) {
 #instimg{
    height: 140px;
}
    #insttitl{
    font-size: 30px;
}
}
@media screen and (max-width:360px) {
    #inst_bp, #inst_pf, #inst_sf{
    height: 200px;
}
}