#inst_main{
    width: 100%;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}
#instimg{
    background-image: url(img/inst_img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1100px;
    height: 220px;
    display: flex;
    display: -webkit-flex;
}

#insttitl {
    font-family: 'raleway', sans-serif;
    font-size: 50px;
    box-sizing: border-box;
    padding: 30px;
    padding-bottom: 40px;
    display:flex;
    align-items: flex-end;
    color: white;
    text-shadow: 0px 0px 20px black;
    display: -webkit-flex;
    -webkit-align-items: flex-end;
}
#inst_cont{
    width: 1100px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 50px;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-align-items: center;
}
.inst_titls {
    font-family: 'raleway', sans-serif;
    width: 800px;
    font-size: 50px;
    margin-top: 60px;
    margin-bottom: 50px;
    display: flex;
    display: -webkit-flex;
}
.inst_citation {
    font-family: 'raleway', sans-serif;
    font-weight: 700;
    width: 800px;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
    display: flex;
    display: -webkit-flex;
}
#inst_bp{
    background-image: url(img/inst_bp.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 800px;
    height: 600px;
    min-height: 600px;
    display: flex;
    display: -webkit-flex;
}
.inst_subtitl{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 800px;
    font-weight: 700;
    font-size: 30px;
    display: flex;
    display: -webkit-flex;
}
.inst_gall{
    width: 800px;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    display: -webkit-flex;
    -webkit-flex-direction: row;
}
#inst_mok1,#inst_mok2,#inst_mok3,#inst_mok4{
    height: 400px;
    min-height: 400px;
    width: 540px;
    min-width: 540px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 40px;
    display: flex;
    display: -webkit-flex;
}
#inst_mok1{
    background-image: url(img/inst_mok1.jpg);
}
#inst_mok2{
    background-image: url(img/inst_mok2.jpg);
}
#inst_mok3{
    background-image: url(img/inst_mok3.jpg);
}
#inst_mok4{
    background-image: url(img/inst_mok4.jpg);
}
.inst_txt {
    width: 800px;
    font-size: 20px;
    margin-bottom: 30px;
    display: flex;
    display: -webkit-flex;
}
@media screen and (max-width: 1100px){
    ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
    #instimg{
    width: 100%;
}
    #inst_cont{
        width: 100%;
    }
    #inst_bp{
    height: 600px;
    min-height: 600px;
}
}
@media screen and (max-width:850px){
    #instimg{
    height: 180px;
}
    #insttitl {
    font-size: 40px;
    padding: 20px;
    padding-bottom: 30px;
}
   .inst_titls {
    width: 100%;
    font-size: 40px;
}
    .inst_subtitl{
    width:100%;
    font-size: 26px;
}
.inst_citation {
    width: 100%;
}
    #inst_bp{
    width: 100%;
    height: 600px;
    min-height: 600px;
}

.inst_txt {
    width: 100%;
}
    .inst_gall{
    width: 100%;
}
 #inst_bp{
     width: 100%;
    height: 500px;
    min-height: 500px;
}
}
@media screen and (max-width:660px){
   #inst_main{
        margin-top: 40px;
    }
    #inst_cont{
    padding: 30px;
}
.inst_titls {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 40px;
}
    .inst_subtitl{
    font-size: 20px;
}
.inst_citation {
    font-size: 16px;
}
.inst_txt {
    font-size: 16px;
    line-height: 20px;
}
    #inst_bp{
    height: 260px;
    min-height: 260px;
}
    #inst_mok1, #inst_mok2, #inst_mok3,#inst_mok4{
    height: 200px;
    min-height: 200px;
    width: 300px;
    min-width: 300px;
        margin-right: 0px;
}
}
@media screen and (max-width:600px) {
 #instimg{
    height: 140px;
}
    #insttitl{
    font-size: 30px;
}
}