#proc_main {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -webkit-flex-direction: column;
}

#procintroimg{
    background-image: url(img/proc_img.jpg);
    height: 220px;
    width: 1100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items:flex-end;
    box-sizing: border-box;
    display: -webkit-flex;
    -webkit-align-items:flex-end;
}
#procintrotitl{
    font-family: 'raleway', sans-serif;
    font-size: 50px;
    box-sizing: border-box;
    padding: 30px;
    padding-bottom: 40px;
    display:flex;
    align-items: flex-end;
    color: white;
    text-shadow: 0px 0px 20px black;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
    display: -webkit-flex;
    -webkit-align-items: flex-end;
    -webkit-transition: 0.5s;
}

#procintrotitl:hover, #procintrotitl:focus, #procintrotitl:active {
    text-shadow: 0px 0px 20px white;
}

#procbar {
    display: flex;
    flex-direction: row;
    height: 140px;
    width: 1100px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px #aaaaaa;
    padding: 40px;
    position: sticky;
    top: 60px;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
}

#procbutt1, #procbutt2, #procbutt3{
    height: 100px;
    width: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    opacity: 0.4;
    transition: 0.6s;
    text-decoration: none;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-transition: 0.6s;
}

#procbutt1{
    background-image: url(img/ana_img.JPG);
}
#procbutt2{
    background-image: url(img/gui_img.JPG);
}
#procbutt3{
    background-image: url(img/ines_img.JPG);
}
#procbutt1:hover, #procbutt2:hover, #procbutt3:hover, #procbutt1:focus, #procbutt2:focus, #procbutt3:focus, #procbutt1:active, #procbutt2:active, #procbutt3:active {
    opacity: 1;
}

.procname {
    font-family: 'raleway', sans-serif;
    font-size: 40px;
    color: white;
    text-shadow: 0px 0px 10px black;
    display: flex;
    display: -webkit-flex;
}

#proc_cont{
    width: 1100px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 50px;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-align-items: center;
}
.proc_title{
    font-family: 'raleway', sans-serif;
    width: 800px;
    font-size: 50px;
    margin-top: 60px;
    margin-bottom: 40px;
    display: flex;
    display: -webkit-flex;
}
.proc_subtitle{
    font-weight: 700;
    width: 800px;
    font-size: 30px;
    margin-bottom: 20px;
    display: flex;
    display: -webkit-flex;
}
.proc_txt{
    width: 800px;
    font-size: 20px;
    margin-bottom: 30px;
    display: flex;
    display: -webkit-flex;
}
.proc_gall{
    width: 800px;
    height: 100%;
 display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
}
#proc_gallimg1,#proc_gallimg2,#proc_gallimg3,#proc_gallimg4{
    height: 400px;
    min-height: 400px;
    width: 600px;
    min-width: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 40px;
    display: flex;
    display: -webkit-flex;
}
#proc_gallimg1{
    background-image: url(img/pross_ex1.JPG);
}
#proc_gallimg2{
    background-image: url(img/pross_ex2.JPG);
}
#proc_gallimg3{
    background-image: url(img/pross_ex3.JPG);
}
#proc_gallimg4{
    background-image: url(img/pross_ex4.JPG);
}
iframe {
    width: 800px;
    height: 450px;
    margin-top: 80px;
    margin-bottom: 20px;
    display: flex;
    display: -webkit-flex;
}

@media screen and (max-width: 1100px){
    ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
    
   #procintroimg{
    width: 100%;
    }   

    #procbar {
    width: 100%;
    }

    #proc_cont{
    width: 100%;
    }
}

@media screen and (max-width:1020px){
    #procbar{
        padding: 30px;
    }
    #procbutt1, #procbutt2, #procbutt3{
    width: 240px;
    }
    .procname {
    font-size: 30px;
}
}
@media screen and (max-width:850px){
    #procintroimg{
    height: 180px;
}
    #procintrotitl{
    font-size: 40px;
    padding: 20px;
    padding-bottom: 30px;
}
    .proc_title{
    width: 100%;
}
    .proc_gall{
    width: 100%;
}
.proc_subtitle{
    width: 100%;
}
    
#proc_gallimg1,#proc_gallimg2,#proc_gallimg3,#proc_gallimg4{
    height: 300px;
    min-height: 300px;
    width: 500px;
    min-width: 500px;
}
    #procbar{
        padding: 20px;
    }
    #procbutt1, #procbutt2, #procbutt3{
        height: 80px;
        width: 200px;
    }
    .proc_txt{
    width: 100%;
    }
    iframe {
        width: 560px;
        height: 315px;
    }
}
@media screen and (max-width:660px){
    #proc_main{
        margin-top: 40px;
    }
    #procbar{
        height: 120px;
        top:40px;
    }
    #procbutt1, #procbutt2, #procbutt3{
        height: 80px;
        width: 180px;
    }
    #proc_cont{
    padding: 30px;
}
    .proc_title{
    font-size: 30px;
      margin-top: 40px;
    margin-bottom: 40px;
}
    .proc_subtitle{
    font-size: 20px;
}
    .proc_txt{
    font-size: 16px;
}
    #proc_gallimg1,#proc_gallimg2,#proc_gallimg3,#proc_gallimg4{
    height: 240px;
    min-height: 240px;
    width: 300px;
    min-width: 300px;
        margin-right: 20px;
}
}
@media screen and (max-width:600px) {
    #procintroimg{
    height: 140px;
}
    #procintrotitl{
    font-size: 30px;
}
    #procbar{
        height: 100px;
    }
    #procbutt1, #procbutt2, #procbutt3{
        height: 60px;
        width: 160px;
    }
    .procname {
    font-size: 20px;
}
}
@media screen and (max-width:560px) {
    #procbar{
        height: 80px;
        padding: 10px;
    }
    #procbutt1, #procbutt2, #procbutt3{
        height: 50px;
        width: 120px;
        padding: 10px;
    }
       .procname {
    font-size: 18px;
}
    iframe {
        height: 180px;
        width: 320px;
        margin-top: 40px;
    }
}
@media screen and (max-width:375px) {
    #procbutt1, #procbutt2, #procbutt3{
        width: 100px;
    }
     .procname {
    font-size: 16px;
}
}