#publi_main{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    width: 100%;
    align-items: center;
    position: relative;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-align-items: center;
}

#publiimg {
    width: 1100px;
    height: 220px;
    background-image: url(img/publ_img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    display: -webkit-flex;
}
#publititl {
    font-family: 'raleway', sans-serif;
    font-size: 50px;
    box-sizing: border-box;
    padding: 30px;
    padding-bottom: 40px;
    display:flex;
    align-items: flex-end;
    color: white;
    text-shadow: 0px 0px 20px black;
    display: -webkit-flex;
    -webkit-align-items: flex-end;
}
#publi_cont{
    width: 1100px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 50px;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-align-items: center;
}
.publi_titls {
    font-family: 'raleway', sans-serif;
    width: 800px;
    font-size: 50px;
    margin-top: 80px;
    margin-bottom: 40px;
    display: flex;
    display: -webkit-flex;
}
.publi_citation {
    font-family: 'raleway', sans-serif;
    font-weight: 700;
    width: 800px;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 10px;
    display: flex;
    display: -webkit-flex;
}

.publi_txt {
    width: 800px;
    font-size: 20px;
    margin-bottom: 30px;
    display: flex;
    display: -webkit-flex;
}

@media screen and (max-width: 1100px){
   #publiimg {
    width: 100%;
}
    #publi_cont{
    width: 100%;
}
}
@media screen and (max-width:850px){
    #publiimg {
    height: 180px;
}
    #publititl {
    font-size: 40px;
    padding: 20px;
    padding-bottom: 30px;
}
   .publi_titls {
    width: 100%;
    font-size: 40px;
}
.publi_citation {
    width: 100%;
    font-size: 20px;
}

.publi_txt {
    width: 100%;
}
}
@media screen and (max-width:660px){
    #publi_main{
        margin-top: 40px;
    }
    #publi_cont{
    padding: 30px;
}
.publi_titls {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 40px;
}
.publi_citation {
    font-size: 16px;
}
.publi_txt {
    font-size: 16px;
    line-height: 20px;
}
}
@media screen and (max-width:600px) {
    #publiimg{
    height: 140px;
}
    #publititl{
    font-size: 30px;
}
    .publi_citation{
        margin-top: 20px;
    }
}