#sobre_main{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    -webkit-display: flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}

#ssimg {
    width: 1100px;
    height: 220px;
    background-image: url(img/sobre_img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    display: -webkit-flex;
}
#sstitl {
    font-family: 'raleway', sans-serif;
    font-size: 50px;
    box-sizing: border-box;
    padding: 30px;
    padding-bottom: 40px;
    display:flex;
    align-items: flex-end;
    color: white;
    text-shadow: 0px 0px 20px black;
    display: -webkit-flex;
    -webkit-align-items: flex-end;
}
#ss_cont{
    width: 1100px;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 50px;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-align-items: center;
}
.ss_titls {
    font-family: 'raleway', sans-serif;
    width: 800px;
    font-size: 50px;
    margin-top: 80px;
    margin-bottom: 40px;
}
.ss_citation {
    font-family: 'raleway', sans-serif;
    font-weight: 700;
    width: 800px;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.ss_txt {
    width: 800px;
    font-size: 20px;
    margin-bottom: 30px;
}

#ss_gall{
    width: 800px;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    align-items: center;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-align-items: center;
}
#ss_img1, #ss_img2, #ss_img3{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 400px;
    min-height: 400px;
    width: 600px;
    min-width: 600px;
    margin-right: 20px;
}

#ss_img1{
    background-image: url(img/logo_firsts.jpg);
}
#ss_img2{
    background-image: url(img/logo_planta.jpg);
}
#ss_img3{
    background-image: url(img/logo_big.jpg);
}

iframe{
    width: 800px;
    min-height: 450px;
    height: 450px;
    margin-top: 80px;
    margin-bottom: 40px;
}
@media screen and (max-width: 1100px){
    ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
    #sobre_main{
        height:2400px;
        min-height: 100%;
    }
   #ssimg {
    width: 100%;
}
    #ss_cont{
    width: 100%;
}
}
@media screen and (max-width:850px){
    #sobre_main{
        height:2400px;
        min-height: 100%;
    }
    #ssimg {
    height: 180px;
}
    #sstitl {
    font-size: 40px;
    padding: 20px;
    padding-bottom: 30px;
}
   .ss_titls {
    width: 100%;
    font-size: 40px;
}
.ss_citation {
    width: 100%;
    font-size: 20px;
}

.ss_txt {
    width: 100%;
}
    #ss_gall{
    width: 100%;
}
    #ss_img1, #ss_img2, #ss_img3{
    height: 300px;
    min-height: 300px;
    width: 500px;
    min-width: 500px;
}
    iframe{
    width: 560px;
    height: 315px;
        min-height: 315px;
    margin-top: 40px;
}
}
@media screen and (max-width:660px){
    #sobre_main{
        height:2000px;
        min-height: 100%;
        margin-top: 40px;
    }
    #ss_cont{
    padding: 30px;
}
.ss_titls {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 40px;
}
.ss_citation {
    font-size: 16px;
}
.ss_txt {
    font-size: 16px;
    line-height: 20px;
}
    #ss_img1, #ss_img2, #ss_img3{
    height: 200px;
    min-height: 200px;
    width: 300px;
    min-width: 300px;
        margin-right: 0px;
}
    #ss_img1{
        width:250px;
        min-width: 250px;
    }
}
@media screen and (max-width:600px) {
    #ssimg{
    height: 140px;
}
    #sstitl{
    font-size: 30px;
}
    .ss_citation{
        margin-top: 20px;
    }
}
@media screen and (max-width:560px) {
    iframe {
        height: 180px;
        min-height: 180px;
        width: 320px;
        margin-top: 30px;
    }
}
@media screen and (max-width:375px){
    #sobre_main{
        height:2100px;
    }  
}
@media screen and (max-width:320px){
    #sobre_main{
        height:2300px;
    }  
}