#sobre_main{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#ssimg {
    width: 1100px;
    height: 220px;
    background-image: url(img/sobre_img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}
#sstitl {
    font-family: 'raleway', sans-serif;
    font-size: 50px;
    box-sizing: border-box;
    padding: 30px;
    padding-bottom: 40px;
    display:flex;
    align-items: flex-end;
    color: white;
    text-shadow: 0px 0px 20px black;
}
#ss_cont{
    width: 1100px;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 50px;
}
.ss_titls {
    font-family: 'raleway', sans-serif;
    width: 800px;
    font-size: 50px;
    margin-top: 80px;
    margin-bottom: 40px;
}
.ss_citation {
    font-family: 'raleway', sans-serif;
    font-weight: 700;
    width: 800px;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.ss_txt {
    width: 800px;
    font-size: 20px;
    margin-bottom: 30px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 20px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
}

/* Position the "next 0button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
    margin-right: 6px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

iframe{
    width: 800px;
    height: 450px;
    margin-top: 80px;
    margin-bottom: 40px;
}
@media screen and (max-width: 1100px){
   #ssimg {
    width: 100%;
}
    #ss_cont{
    width: 100%;
}
}
@media screen and (max-width:850px){
    #ssimg {
    height: 180px;
}
    #sstitl {
    font-size: 40px;
    padding: 20px;
    padding-bottom: 30px;
}
   .ss_titls {
    width: 100%;
    font-size: 40px;
}
.ss_citation {
    width: 100%;
    font-size: 20px;
}

.ss_txt {
    width: 100%;
}
    .slideshow-container {
  max-width: 100%;
    min-width: 100%;
    }
    iframe{
    width: 560px;
    height: 315px;
    margin-top: 40px;
}
}
@media screen and (max-width:660px){
    #sobre_main{
    margin-top: 40px;
}
    #ss_cont{
    padding: 30px;
}
.ss_titls {
    font-size: 40px;
    margin-top: 60px;
}
.ss_citation {
    font-size: 16px;
}
.ss_txt {
    font-size: 16px;
}
    #ss_cont_logos, #ss_cont_logo{
    width: 100%;
    height:280px;
    margin-bottom: 50px;
}
}
@media screen and (max-width:600px) {
    #ssimg{
    height: 140px;
}
    #sstitl{
    font-size: 30px;
}
    .ss_citation{
        margin-top: 20px;
    }
}
@media screen and (max-width:560px) {
    .ss_titls {
    font-size: 30px;
    margin-top: 40px;
}
    iframe {
        height: 180px;
        width: 320px;
        margin-top: 30px;
    }
}